<mat-card>

  <mat-card-header>
    <mat-card-title>
      Basic Coffee Information
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <mat-form-field>
      <mat-label>Coffee Name</mat-label>
      <input matInput name="name" [(ngModel)]="coffee.name">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Coffee Type</mat-label>
      <mat-select name="type" [(ngModel)]="coffee.type">
        @for (type of types; track $index) {
          <mat-option [value]="type">
            {{ type }}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Place Name</mat-label>
      <input matInput name="place" [(ngModel)]="coffee.place">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Address</mat-label>
      <input matInput name="address" [(ngModel)]="coffee.location!.address">
    </mat-form-field>

    <mat-form-field>
      <mat-label>City</mat-label>
      <input matInput name="city" [(ngModel)]="coffee.location!.city">
    </mat-form-field>

    <section>
      Geolocation:
      <button mat-button (click)="acquireLocation()"><mat-icon>radar</mat-icon>Get Location</button>
    </section>

    <h2>Ratings</h2>

    <mat-label>Overall Rating</mat-label>
    <mat-slider max="10" step="1" discrete>
      <input name="rating" matSliderThumb [(ngModel)]="coffee.rating">
    </mat-slider>

    <section>
      <mat-slide-toggle #tastingSelector [checked]="tastingEnabled"
        (change)="tastingRatingChanged(tastingSelector.checked)">Tasting Ratings</mat-slide-toggle>
    </section>
    @if (tastingSelector.checked) {
      
      <section id="tasting">
        <label>Aroma</label>
        <mat-slider max="10" discrete step="1">
          <input name="aromaRating" matSliderThumb [(ngModel)]="coffee.tastingRating!.aroma">
        </mat-slider>
        
        <label>Flavor</label>
        <mat-slider max="10" discrete step="1">
          <input name="flavorRating" matSliderThumb [(ngModel)]="coffee.tastingRating!.flavor">
        </mat-slider>
        
        <label>Intensity</label>
        <mat-slider max="10" discrete step="1">
          <input name="intensityRating" matSliderThumb [(ngModel)]="coffee.tastingRating!.intensity">
        </mat-slider>
        
        <label>Sweetness</label>
        <mat-slider max="10" discrete step="1">
          <input name="sweetnessRating" matSliderThumb [(ngModel)]="coffee.tastingRating!.sweetness">
        </mat-slider>
        
        <label>Aftertaste</label>
        <mat-slider max="10" discrete step="1">
          <input name="afterTasteRating" matSliderThumb [(ngModel)]="coffee.tastingRating!.aftertaste">
        </mat-slider>
      </section>
    }

    <h2>Additional Info</h2>

    <mat-form-field>
      <mat-label>Notes</mat-label>
      <textarea matInput name="notes" [(ngModel)]="coffee.notes">
      </textarea>
    </mat-form-field>
  </mat-card-content>

  <mat-card-actions>
    <button mat-button (click)="cancel()">Cancel</button>
    <button mat-button color="accent" (click)="save()">Save</button>
  </mat-card-actions>

</mat-card>